@font-face {
  font-family: "BallingerMono-Medium";
  src: url('~@/assets/fonts/ballinger-mono/ballingermono-medium.woff2') format('woff2'), url('~@/assets/fonts/ballinger-mono/ballingermono-medium.woff') format('woff');
}
@font-face {
  font-family: "Ballinger-Regular";
  src: url('~@/assets/fonts/ballinger/ballinger-regular.woff2') format('woff2'), url('~@/assets/fonts/ballinger/ballinger-regular.woff') format('woff');
}

body {
  background-color: var(--v-background-base);
  &::-webkit-scrollbar {
    display: none;
  }
}

.v-application {
  background-color: var(--v-background-base) !important;
  color: var(--v-text-base) !important;
  font-family: "Ballinger-Regular", sans-serif !important;
  * {
    box-sizing: border-box;
  }
  & a {
    color: var(--v-textshade-base);
    text-decoration: none;
  }
  & p {
    margin-bottom: 0;
  }
}
.nuxt-link-exact-active {
  color: var(--v-text-base) !important;
}

.container-wrapper {
  border-radius: 20px;
  background: var(--v-background-base);
  box-shadow:  inset 3px 3px 6px var(--v-shadow1-base),
  inset -3px -3px 6px var(--v-shadow2-base);
  padding: 10px;
}

.wrapper {
  position: relative;
  border-radius: 20px;
  background: var(--v-background-base);
  box-shadow:  3px 3px 6px var(--v-shadow1-base),
              -3px -3px 6px var(--v-shadow2-base);
  padding: 10px;
}

.w-100 {
  width: 100%;
}
.w-70 {
  width: 70%;
}


.transition-enter-active, .transition-leave-active {
  transition: opacity .6s;
}
.transition-enter, .transition-leave-active {
  opacity: 0;
  filter: blur(6px);
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-progress-bar-enter-active,
.fade-progress-bar-leave-active {
  transition: opacity 1s ease;
}

.fade-progress-bar-enter-from,
.fade-progress-bar-leave-to {
  opacity: 0;
}

@media (min-width: 1904px) {
  .container {
    max-width: 1285px !important;
  }
}

@media screen and (max-width: 768px) {
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .wrapper {
    border-radius: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container-wrapper {
    border-radius: 16px;
    background: var(--v-background-base);
    padding: 0;
  }
}
