.header-text {
  font-family: "Ballinger-Regular", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

.header-text-mono {
  font-family: "BallingerMono-Medium", sans-serif;
  font-size: 30px;
  line-height: 44px;
  font-weight: 500;
  letter-spacing: 0rem;
  word-spacing: -0.3rem;
}

.normal-text-bold-mono {
  font-family: "BallingerMono-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0rem;
  word-spacing: -0.3rem;
}

.large-text-bold {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

.normal-text {
  font-family: "Ballinger-Regular", sans-serif;
  color: #001f3f;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.normal-text-bold {
  font-family: "Ballinger-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600 !important;
}

.small-text-bold {
  font-family: "Ballinger-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600 !important;
}

.comment-text {
  font-family: "Ballinger-Regular", sans-serif;
  color: #001f3f80;
  font-size: 12px;
  font-weight: 400;
}

.blue-text {
  color: #006286;
}

.green-text {
  color:  #00AB8B;
}
.red-text {
  color:  #FC4832;
}


